<div ng-controller="MainCtrl as vm">
    <form name="input" layout="row" layout-align="center start" layout-padding>
        <md-input-container flex="60">
            <input ng-model="vm.searchTerm" placeholder="Search">
        </md-input-container>
        <md-select flex="40" ng-model="vm.type" placeholder="Select type">
            <md-option>
                <md-icon>face</md-icon>
                Actor
            </md-option>
            <md-option>
                <md-icon>movie</md-icon>
                Movie name
            </md-option>
            <md-option>
                <md-icon>videocam</md-icon>
                Director
            </md-option>
            <md-option>
                <md-icon>language</md-icon>
                Country
            </md-option>
        </md-select>
    </form>

    <md-divider></md-divider>

    <movie-list movies="vm.movies"></movie-list>

</div>