@media screen and (max-width: 1024px) {
    .ribbon {
        height: calc(100% - 56px);
    }
}

@media screen and (min-width: 1025px) {
    .ribbon {
        height: calc(100% - 64px);
    }
}

.title:before {
    content: 'Linked Movie App';
}

@media screen and (max-width: 700px) {
    .title:before {
        content: 'LMA';
    }

    .query-input {
        max-width: 150px;
    }
}

.ribbon {
    width: 100%;
    background-color: rgb(0, 150, 136);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.menu-text {
    padding: 4px 16px 16px 16px;
}

.menu-image {
    width: 80%;
    margin: 16px auto;
}

.menu-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
}

.menu-icon {
    height: 24px;
    width: 24px;
    padding-right: 8px;
}

.mdl-layout__drawer-button > i {
    color: rgb(66, 66, 66);
}

#graph {
    height: calc(100vh - 64px);
}

#loading-spinner {
    margin-right: 8px;
}

.reset-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.zoom-button {
    position: fixed;
    bottom: 106px;
    right: 30px;
}

.key-button {
    position: fixed;
    bottom: 182px;
    right: 30px;
}

.key-dialog-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.key-dialog-list-item {
    background-color: rgb(0, 150, 136);
    margin: 4px 0;
    color: white;
}

.key-node {
    height: 50px;
    width: 50px;
    border: 2px solid yellow;
    background-color: #97c2fc;
    border-radius: 100%;
    display: inline-block;
    margin: 8px 8px;
}

.key-node-actor {
    border: 2px solid white;
}

.key-node-director {
    border: 2px solid blue;
}

.key-node-movie {
    border: 2px solid yellow;
}

.key-node-selected {
    border: 2px solid red;
    background-color: red;
}

.key-node-image {
    height: 46px;
    width: 46px;
    margin: 2px 2px;
}