.demo-ribbon {
    width: 100%;
    height: calc(100% - 64px);
    background-color: rgb(0, 150, 136);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

#graph {
    height: calc(100vh - 64px);
}

#loading-spinner {
    margin-right: 8px;
}

.reset-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.zoom-button {
    position: fixed;
    bottom: 106px;
    right: 30px;
}